<div class="login-box">
    <div class="login-logo">
      <a [routerLink]="['/']"><b>Alerta </b>IFRN</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Informe sua matrícula e a senha do SUAP</p>

        <form [formGroup]="loginForm" method="POST">
          <div class="input-group mb-3">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              placeholder="Email"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-address-card"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              formControlName="password"
              type="password"
              class="form-control"
              placeholder="Senha"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">

            <!-- /.col -->

              <button type="submit" (click)="login()" class="btn btn-primary btn-block btn-flat">Login</button>

            <!-- /.col -->
          </div>
        </form>

        <p class="mb-0">
          <a [routerLink]="['/register']" class="text-center">Cadastrar no sistema</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

