<div class="register-box">
    <div class="register-logo">
      <a [routerLink]="['/']"><b>Alerta </b>IFRN</a>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Cadastro de Usuário</p>

        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="input-group mb-3">
            <input
              formControlName="matricula"
              type="number"
              class="form-control"
              placeholder="Matrícula"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              formControlName="senha"
              type="password"
              class="form-control"
              placeholder="Senha"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-7">
              <div class="icheck-primary">
                <input
                  type="checkbox"
                  id="agreeTerms"
                  name="terms"
                  value="agree"
                />
                <label for="agreeTerms">
                  Aceitar os <a href="#">termos</a>
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-5">
              <button type="submit" class="btn btn-primary btn-block">
                Cadastrar
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

      </div>
      <!-- /.form-box -->
    </div>
    <!-- /.card -->
  </div>
